*{
    padding: 0;
    margin: 0;
}
.big-shoulders{
  font-family: "Big Shoulders", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */

.display-flex{
    display: flex;
}

.bg-light{
    background-color: rgb(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 6px;
    justify-content: center;
}

.banner-description{
    color: #727272;
}





/* navber styles */
.navber{
    justify-content: space-around;
    align-items: center;
}

.brand{
    font-weight: 700;
    font-size: 2rem;
}
.nav-item{
    list-style: none;
    margin-right: 30px;
}

.nav-link{
    text-decoration: none;
    color: #424242;
}

.main{
    max-width: 1440px;
    margin: 0 auto;
} 

main > section{
    margin-top: 130px;
}


/* banner styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

.banner-title{
    font-weight: 700;
    font-size: 4em;
    padding-top: 40px;
}


.banner-description{
    margin-top: 15px;
    margin-bottom: 20px;
}

.banner-img{
    width: 100%;
}

/* features styles */

.teams{
    align-items: center;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}

.features-title{
    font-size: 4em;
}


.quick-list{
    color: #727272;
}
.of-our{
    color: #131313;
    font-weight: 800;
}

.Features{
    color: #FF900E;
}

.section-title{
    font-weight: 700;
    font-size: 4em;
}
















/* responsive */
 @media screen and (max-width: 576px) {
    .navber, .nav-link {
        flex-direction: column;
    }

    .teams{
        flex-direction: column;
    }
    
    .team-img-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .our-features{
        margin-left: 20px;
    }
    
}

/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
}